@(ShibbolethEnvironments: List[ShibbolethConfiguration])


@main("Current Configured Shibboleth Environments") {
    <table class="table table-striped">
        <thead>
            <tr>
                <th><h3>Name</h3></th>
                <th><h3>Environment</h3></th>
                <th><h3>SP Entity ID</h3></th>
            </tr>
        </thead>
        <tbody>
            @for(env <- ShibbolethEnvironments) {
                <tr>
                    <td><b>@env.displayname</b></td>
                    <td>@env.id</td>
                    <td>@env.entityid</td>
                </tr>
            }
        </tbody>
    </table>
}