@(ShibbolethEnvironments: List[ShibbolethConfiguration])


@main("Current Configured Shibboleth Environments") {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client</th>
                <th>Environment</th>
                <th>Entity ID</th>
            </tr>
        </thead>
        <tbody>
            @for(env <- ShibbolethEnvironments) {
                <tr>
                    <td><a href="@routes.ShibbolethEnvironments.viewEnvironment(env.environment)">@env.clientName</a></td>
                    <td>@env.environment</td>
                    <td>@env.entityId</td>
                </tr>
            }
        </tbody>
    </table>
}