@(title: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
    <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <title>@title</title>
</head>
<body>
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            @flash.get("error")
        </div>
    }
    <section class="content">@content</section>
</body>
</html>